<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {# {{ encore_entry_link_tags('app') }}  #}   
            <link rel="stylesheet" href="{{asset('bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css')}}">
            <link rel="stylesheet" href="{{asset('bower_components/timepicker/bootstrap-timepicker.min.css')}}">
            <link rel="stylesheet" href="{{asset('frontoffice/bootstrap/css/bootstrap.min.css')}}">
            <link rel="stylesheet" href="{{asset('frontoffice/fontawesome/css/font-awesome.min.css')}}">
            <link rel="stylesheet" href="{{asset('bower_components/font-awesome/css/font-awesome.min.css')}}">
            <link rel="stylesheet" href="{{asset('bower_components/Ionicons/css/ionicons.min.css')}}">
            <!-- Ionicons -->
            <link rel="stylesheet" href="{{asset('bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css')}}">
            <link rel="stylesheet" href="{{asset('bower_components/timepicker/bootstrap-timepicker.min.css')}}">
            <link rel="stylesheet" href="{{asset('frontoffice/css/styles.css')}}">
        {% endblock %}

        {% block javascripts %}
            {# {{ encore_entry_script_tags('app') }} #}
            <script src="{{asset('frontoffice/jquery/jquery-3.1.0.min.js')}}"></script>
            <script src="{{asset('frontoffice/jquery/bootstrap.bundle.min.js')}}"></script>
            <script src="{{asset('frontoffice/bootstrap/js/bootstrap.min.js')}}"></script>
            <script src="{{asset('bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js')}}"></script>
            <script src="{{asset('bower_components/timepicker/bootstrap-timepicker.min.js')}}"></script>
            <script src="{{asset('frontoffice/fontawesome/all.js')}}"></script>
            <script src="{{asset('frontoffice/js/script.js')}}"> </script>
        {% endblock %}
    </head>
    <body>
        <div class="wrapper">
            {{ include('frontoffice/header.html.twig') }}

            {% block body %}{% endblock %}               
                <!-- Modal HTML -->
                <div id="myModal" class="modal fade">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content" style="background-image: url({{asset('frontoffice/img/img-bg-menu.png')}}); background-size: cover; background-repeat: no-repeat;">
                            <div class="modal-body">
                                <div class="">
                                   <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="container">
                                    <div class="row">
                                        <div class="">
                                            <ul>
                                                <li>
                                                    <a href="{{ path('app_default') }}">Home</a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('app_menu_food') }}">Menu</a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('app_contact') }}">Contact</a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('app_food_index') }}">BACKOFFICE</a>
                                                </li>
                                            </ul>
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{ include("frontoffice/footer.html.twig") }}
        </div>
    </body>
</html>