<footer class="kl-footer">
    <div class="kl-bloc-first-footer container">
        <div class="row">
            <div class="col-lg-3 kl-bloc-first-footer-title">
                <h3>Food <br> Zero.</h3>
            </div>
            <div class="col-lg-3 kl-footer-contact">
                <h6>Contact</h6>
                <div class="kl-footer-contact-one">
                    <span>+1+86 852 346 000 </span><br>
                    <span class="mb-5"><a href="info@foodzero.com">info@foodzero.com</a></span><br>
                </div>
                <div class="kl-footer-contact-two">
                    <span>1959 Sepulveda Blvd</span><br>
                    <span>Culver City, CA, 90230</span>
                </div>
            </div>
            <div class="col-lg-6 kl-footer-subsribe">
                <h6>Never Miss a Recipe</h6>
                <div class="row">
                    <div class="col-lg-8 kl-content kl-input-subscribe"> 
                        <input type="text" class="form-control kl-subscribe" placeholder="Email Adress">
                    </div>
                    <div class="col-lg-2">
                        <button class="btn kl-btn-subscribe">Subscribe</button>
                    </div>
                </div>
                <p>Join your subscribers and get best Recipe delivered each week !</p>
            </div>
        </div>
    </div>
    <div class="kl-hr"></div>
    <div class="kl-bloc-second-footer container">
        <div class="row">
            <div class="col-lg-6 kl-second-footer-one">
                <span>2020 Zero Inc. All Rights Reserved</span>
            </div>
            <div class="col-lg-6 kl-second-footer-two">
                <a href="#">
                    <svg width="22" height="22" viewBox="0 0 28 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14 0C9.94431 0 6.36031 0.429 4.17308 0.7568C2.36385 1.0274 0.904615 2.4189 0.571846 4.2625C0.290769 5.8311 0 8.1257 0 11C0 13.8743 0.290769 16.17 0.571846 17.7375C0.904615 19.5811 2.36385 20.977 4.17308 21.2443C6.37 21.5699 9.96585 22 14 22C18.0342 22 21.6311 21.571 23.8269 21.2432C25.6362 20.977 27.0954 19.5811 27.4282 17.7375C27.7092 16.1645 28 13.8655 28 11C28 8.1345 27.7135 5.8355 27.4282 4.2625C27.0954 2.4189 25.6362 1.0274 23.8269 0.7557C21.6397 0.4301 18.0546 0 14 0ZM14 2.2C17.9125 2.2 21.4082 2.6081 23.5243 2.9216C23.9641 2.98581 24.3729 3.18968 24.693 3.50436C25.0131 3.81904 25.2281 4.22858 25.3077 4.675C25.5683 6.127 25.8462 8.2797 25.8462 11C25.8462 13.7159 25.5683 15.873 25.3077 17.325C25.2295 17.772 25.0149 18.1824 24.6946 18.4973C24.3743 18.8122 23.9646 19.0156 23.5243 19.0784C21.3985 19.3919 17.8866 19.8 14 19.8C10.1123 19.8 6.59615 19.3919 4.47569 19.0784C4.03567 19.0148 3.62648 18.8112 3.30631 18.4964C2.98613 18.1816 2.77128 17.7717 2.69231 17.325C2.43169 15.873 2.15385 13.7247 2.15385 11C2.15385 8.272 2.43169 6.127 2.69231 4.675C2.77128 4.2283 2.98613 3.81841 3.30631 3.50362C3.62648 3.18883 4.03567 2.98517 4.47569 2.9216C6.58754 2.6081 10.0875 2.2 14 2.2ZM10.7692 4.7091V17.292L12.3846 16.3636L19.9231 11.9636L21.5385 11L19.9231 10.0375L12.3846 5.6375L10.7692 4.7091ZM12.9231 8.4909L17.1974 11L12.9231 13.5091V8.4909Z" fill="white"/>
                    </svg>
                </a>
                <a href="#">
                    <svg width="22" height="22" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.36364 0C1.07073 0 0 1.07073 0 2.36364V23.6364C0 24.9293 1.07073 26 2.36364 26H23.6364C24.9293 26 26 24.9293 26 23.6364V2.36364C26 1.07073 24.9293 0 23.6364 0H2.36364ZM2.36364 2.36364H23.6364V23.6364H17.5051V15.6591H20.5707L21.0139 12.1136H17.5063V9.82327C17.5063 8.79036 17.7592 8.08836 19.2412 8.08836H21.1616V4.875C20.8343 4.83364 19.6985 4.76391 18.3926 4.76391C15.6685 4.76391 13.8131 6.40309 13.8131 9.45455V12.1136H10.7108V15.6591H13.8119V23.6364H2.36364V2.36364Z" fill="white"/>
                    </svg>
                </a>
                <a href="#">
                    <svg width="22" height="22" viewBox="0 0 28 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M28 2.60975C26.9516 3.05836 25.8394 3.3522 24.7007 3.48144C25.8995 2.78756 26.7967 1.69633 27.2253 0.410799C26.0978 1.05666 24.865 1.51271 23.5795 1.75949C22.792 0.94571 21.7693 0.379785 20.6446 0.135299C19.5198 -0.109186 18.345 -0.0209199 17.2728 0.38862C16.2007 0.798161 15.2808 1.51003 14.6328 2.43166C13.9848 3.35329 13.6387 4.44204 13.6395 5.55635C13.6395 5.99275 13.6897 6.41563 13.7912 6.82046C11.5063 6.71176 9.2707 6.13891 7.23017 5.13924C5.18963 4.13958 3.38993 2.73553 1.94833 1.01861C1.43614 1.86606 1.16749 2.83039 1.17017 3.81184C1.17017 5.73677 2.18167 7.4373 3.72633 8.43303C2.81395 8.40504 1.9218 8.16607 1.12467 7.73613V7.80717C1.12388 9.08953 1.5825 10.3326 2.4226 11.3251C3.26269 12.3176 4.43242 12.9983 5.733 13.2516C4.88724 13.4757 3.99948 13.5089 3.13833 13.3485C3.50514 14.4517 4.2193 15.4166 5.18103 16.1085C6.14277 16.8003 7.30405 17.1845 8.50267 17.2074C7.31108 18.1114 5.94675 18.7794 4.48776 19.1732C3.02876 19.567 1.50375 19.6788 0 19.5022C2.62561 21.1354 5.68253 22.0026 8.80483 22C19.3725 22 25.1522 13.538 25.1522 6.19912C25.1522 5.96231 25.1428 5.71873 25.1335 5.48079C26.2565 4.69487 27.2269 3.72329 28 2.61088V2.60975Z" fill="white"/>
                    </svg>
                </a>
                <a href="#">
                    <svg width="22" height="22" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.23327 0C3.71382 0 0 3.70873 0 8.23327V19.7667C0 24.2862 3.70873 28 8.23327 28H19.7667C24.2862 28 28 24.2913 28 19.7667V8.23455C28 3.71382 24.2913 0 19.7667 0H8.23327ZM8.23327 2.54545H19.7667C20.5139 2.54445 21.254 2.69088 21.9445 2.97637C22.6351 3.26185 23.2625 3.68077 23.7909 4.20914C24.3192 4.7375 24.7381 5.36492 25.0236 6.05545C25.3091 6.74598 25.4555 7.48606 25.4545 8.23327V19.7667C25.4555 20.5139 25.3091 21.254 25.0236 21.9445C24.7381 22.6351 24.3192 23.2625 23.7909 23.7909C23.2625 24.3192 22.6351 24.7381 21.9445 25.0236C21.254 25.3091 20.5139 25.4555 19.7667 25.4545H8.23455C7.48722 25.4557 6.74701 25.3094 6.05633 25.024C5.36565 24.7386 4.73808 24.3197 4.20959 23.7913C3.68109 23.2629 3.26205 22.6355 2.97649 21.9448C2.69092 21.2542 2.54445 20.5141 2.54545 19.7667C2.54545 19.7667 2.54663 8.98187 2.54545 8.23455C2.54428 7.48722 2.69059 6.74701 2.976 6.05633C3.26141 5.36565 3.6803 4.73808 4.20868 4.20959C4.73706 3.68109 5.36454 3.26205 6.05515 2.97649C6.74577 2.69092 7.48595 2.54445 8.23327 2.54545ZM21.5167 5.33018C21.3651 5.32951 21.2149 5.35887 21.0747 5.41658C20.9345 5.47429 20.8071 5.5592 20.6999 5.66641C20.5927 5.77362 20.5077 5.901 20.45 6.04121C20.3923 6.18141 20.363 6.33166 20.3636 6.48327C20.3636 7.12473 20.8753 7.63636 21.5167 7.63636C21.6684 7.63721 21.8188 7.60796 21.9592 7.55033C22.0995 7.4927 22.2271 7.40781 22.3344 7.30059C22.4418 7.19336 22.5268 7.06592 22.5846 6.92563C22.6424 6.78535 22.6718 6.63499 22.6711 6.48327C22.6718 6.33155 22.6424 6.1812 22.5846 6.04091C22.5268 5.90062 22.4418 5.77318 22.3344 5.66596C22.2271 5.55873 22.0995 5.47385 21.9592 5.41621C21.8188 5.35858 21.6684 5.32934 21.5167 5.33018ZM14 6.36364C9.8 6.36364 6.36364 9.8 6.36364 14C6.36364 18.2 9.8 21.6364 14 21.6364C18.2 21.6364 21.6364 18.2 21.6364 14C21.6364 9.8 18.2 6.36364 14 6.36364ZM14 8.90909C16.8293 8.90909 19.0909 11.1707 19.0909 14C19.0909 16.8293 16.8293 19.0909 14 19.0909C11.1707 19.0909 8.90909 16.8293 8.90909 14C8.90909 11.1707 11.1707 8.90909 14 8.90909Z" fill="white"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
 
</footer>