{{ form_start(form, {attr:{'enctype':'multipart/form-data'}}) }}
    {{ form_widget(form) }}
    <div class="box-footer">
        <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
