{% extends 'backoffice/base.html.twig' %}

{% form_theme form 'forms.html.twig' %}
{% block title %}Edit Customer{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>Edit Customer</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Edit</h3>
                    </div>
                    <form role="form" method="POST">
                        {{ include('backoffice/customer/_form.html.twig', {'button_label': 'Update'}) }}
                    </form>
                </div>
            </div>
        </div>
        <a class="btn btn-primary" href="{{ path('app_customer_index') }}">back to list</a>
    </section>
{% endblock %}
