{% extends 'backoffice/base.html.twig' %}

{% block title %}Customer index{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>
            customer list
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">List</h3>

                        <div class="box-tools">
                        </div>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Firstname</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>actions</th>
                            </tr>
                            {% for customer in customers %}
                                <tr>
                                    <td>{{ customer.id }}</td>
                                    <td>{{ customer.name }}</td>
                                    <td>{{ customer.firstname }}</td>
                                    <td>{{ customer.email }}</td>
                                    <td>{{ customer.phone }}</td>
                                    <td>
                                        <a class="btn btn-info" href="{{ path('app_customer_show', {'id': customer.id}) }}">show</a>
                                        <a class="btn btn-success" href="{{ path('app_customer_edit', {'id': customer.id}) }}">edit</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="5">no records found</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <a class="btn btn-primary" href="{{ path('app_customer_new') }}">Create new</a>
    </section>
{% endblock %}
