{% extends 'backoffice/base.html.twig' %}

{% block title %}Customer{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>Detail customer</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Details</h3>
                    </div>
                    <div class="box box-info">
                        <!-- form start -->
                        <form class="form-horizontal">
                            <div class="box-body">
                                <div class="form-group">
                                    <label class="col-sm-2">Name</label>
                                    <div class="col-sm-10">
                                        {{ customer.name }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2">FirstName</label>
                                    <div class="col-sm-10">
                                        {{ customer.firstname }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2">Email</label>
                                    <div class="col-sm-10">
                                        {{ customer.email }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2">Phone</label>
                                    <div class="col-sm-10">
                                        {{ customer.phone }}
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <a class="btn btn-primary" href="{{ path('app_customer_index') }}">back to list</a>
        <a class="btn btn-success" href="{{ path('app_customer_edit', {'id': customer.id}) }}">edit</a>
        <hr>
        {{ include('backoffice/customer/_delete_form.html.twig') }}
    </section>
{% endblock %}
