.kl-head-banner .navbar {
  background-color: #213300;
  color: #ffffff; }
  .kl-head-banner .navbar .kl-header-logo .kl-btn-menu-header {
    background: transparent;
    border: none; }
  .kl-head-banner .navbar .kl-btn-num-header .kl-btn-reservation-header {
    color: #ffffff;
    background: transparent;
    border: solid 1px #ffffff;
    padding: 15px 25px;
    margin-left: 20px;
    font-size: 20px; }
  .kl-head-banner .navbar .kl-btn-num-header .kl-number {
    padding-top: 21px; }

.kl-banner-home {
  background-color: #213300;
  padding-left: 25px;
  color: #ffffff; }
  .kl-banner-home .kl-text-header-first-part .kl-text-title h2 {
    font-size: 95px;
    line-height: 90px;
    font-family: 'Rufina'; }
  .kl-banner-home .kl-text-header-first-part .kl-text-title p {
    padding-top: 30px;
    padding-right: 270px;
    font-size: 18px;
    font-family: 'Lato'; }
  .kl-banner-home .kl-text-header-second-part {
    margin-top: 40px;
    padding-top: 80px;
    padding-bottom: 60px; }
    .kl-banner-home .kl-text-header-second-part h4 {
      font-size: 40px;
      padding-right: 170px;
      margin-right: 150px;
      margin-top: 20px;
      font-family: 'Rufina'; }
    .kl-banner-home .kl-text-header-second-part p {
      font-size: 18px;
      font-family: 'Lato'; }
    .kl-banner-home .kl-text-header-second-part .kl-text-start p {
      padding-right: 150px;
      padding-top: 15px;
      margin-right: 150px;
      font-family: 'Lato'; }

.kl-section-our-menu .kl-title-our-menu {
  margin-top: 60px;
  padding-top: 40px; }
  .kl-section-our-menu .kl-title-our-menu h3 {
    font-size: 60px;
    color: #000000;
    font-family: 'Rufina'; }
  .kl-section-our-menu .kl-title-our-menu p {
    font-size: 18px;
    color: #696969;
    font-weight: 400;
    padding-right: 40px;
    font-family: 'Lato'; }
.kl-section-our-menu .kl-menu-prices {
  margin-top: 80px;
  padding-bottom: 20px; }
  .kl-section-our-menu .kl-menu-prices .kl-bloc-price {
    color: #000000;
    padding-bottom: 60px;
    padding-right: 30px; }
    .kl-section-our-menu .kl-menu-prices .kl-bloc-price .kl-price {
      border-bottom: dashed 2px #000000;
      font-size: 30px;
      font-weight: bold;
      text-align: end;
      font-family: 'Inter'; }
    .kl-section-our-menu .kl-menu-prices .kl-bloc-price .kl-text-menu h5 {
      font-size: 41px;
      padding-top: 15px;
      padding-right: 60px;
      font-family: 'Rufina';
      font-weight: 700; }
    .kl-section-our-menu .kl-menu-prices .kl-bloc-price .kl-text-menu p {
      font-size: 18px;
      color: #696969;
      font-family: 'Lato'; }

.kl-section-excellent-coock {
  background-color: #ecefe4; }
  .kl-section-excellent-coock .kl-cook-content {
    padding-top: 80px; }
    .kl-section-excellent-coock .kl-cook-content .kl-cook-img .kl-img img {
      width: 100%;
      object-fit: contain; }
    .kl-section-excellent-coock .kl-cook-content .kl-text-excel-cook {
      padding-left: 30px; }
      .kl-section-excellent-coock .kl-cook-content .kl-text-excel-cook h3 {
        font-size: 62px;
        line-height: 60px;
        color: #000000;
        padding-right: 60px;
        font-family: 'Rufina'; }
      .kl-section-excellent-coock .kl-cook-content .kl-text-excel-cook p {
        font-size: 18px;
        color: #696969;
        font-family: 'Lato'; }
      .kl-section-excellent-coock .kl-cook-content .kl-text-excel-cook .kl-img-leaf img {
        width: 100%; }

.kl-section-quality-vegetable-fresh {
  margin-top: 70px;
  padding-top: 60px; }
  .kl-section-quality-vegetable-fresh .kl-bloc-quality {
    text-align: center;
    padding-right: 30px;
    padding-left: 30px; }
    .kl-section-quality-vegetable-fresh .kl-bloc-quality .kl-img .kl-svg svg {
      background: #ecefe4;
      padding: 10px;
      border-radius: 50px; }
    .kl-section-quality-vegetable-fresh .kl-bloc-quality h4 {
      margin-top: 20px;
      margin-bottom: 15px;
      font-size: 28px; }

.kl-banner-home .kl-text-header-first-part {
  margin-top: 80px;
  padding-top: 110px; }
  .kl-banner-home .kl-text-header-first-part .kl-img {
    /*  width: 450px;*/
    padding-top: 30px; }
    .kl-banner-home .kl-text-header-first-part .kl-img img {
      object-fit: contain;
      width: 100%; }
  .kl-banner-home .kl-text-header-first-part .kl-img-group {
    display: flex;
    position: relative;
    margin-top: -80px;
    margin-left: 40%; }
    .kl-banner-home .kl-text-header-first-part .kl-img-group .kl-img-epice {
      width: 125px;
      margin-left: 12px;
      margin-right: 12px; }
      .kl-banner-home .kl-text-header-first-part .kl-img-group .kl-img-epice img {
        object-fit: contain;
        width: 100%; }
.kl-banner-home .kl-text-header-second-part .kl-text-start .kl-img {
  /*   width: 650px; */ }
  .kl-banner-home .kl-text-header-second-part .kl-text-start .kl-img img {
    object-fit: contain;
    width: 100%; }
.kl-banner-home .kl-text-header-second-part .kl-text-img-lorem {
  padding-left: 12.5%; }
  .kl-banner-home .kl-text-header-second-part .kl-text-img-lorem .kl-img {
    /*   width: 320px; */
    margin-top: 50px; }
    .kl-banner-home .kl-text-header-second-part .kl-text-img-lorem .kl-img img {
      object-fit: contain;
      width: 100%; }

.kl-section-card-fruit-salad .kl-fruit-salad-content .kl-img {
  padding-left: 10px;
  padding-right: 10px; }
  .kl-section-card-fruit-salad .kl-fruit-salad-content .kl-img img {
    width: 100%;
    position: relative; }
  .kl-section-card-fruit-salad .kl-fruit-salad-content .kl-img .kl-bn-content {
    position: absolute;
    top: 0; }
  .kl-section-card-fruit-salad .kl-fruit-salad-content .kl-img .kl-btn-fashion {
    top: 0;
    position: absolute;
    float: right;
    color: #ffffff;
    background: #213300;
    border: solid 0px;
    font-size: 15px;
    padding: 8px 26px; }
.kl-section-card-fruit-salad .kl-fruit-salad-content .kl-detail-user {
  padding: 20px 40px; }
  .kl-section-card-fruit-salad .kl-fruit-salad-content .kl-detail-user .kl-identificaion img {
    width: 85px;
    height: 85px;
    object-fit: contain; }
  .kl-section-card-fruit-salad .kl-fruit-salad-content .kl-detail-user .kl-identificaion .kl-span-comment {
    padding-top: 25px;
    font-size: 14px; }
    .kl-section-card-fruit-salad .kl-fruit-salad-content .kl-detail-user .kl-identificaion .kl-span-comment span {
      padding-left: 5px;
      padding-right: 5px; }
  .kl-section-card-fruit-salad .kl-fruit-salad-content .kl-detail-user .kl-fruit-salad-text {
    border-bottom: dashed;
    margin-bottom: 15px; }
    .kl-section-card-fruit-salad .kl-fruit-salad-content .kl-detail-user .kl-fruit-salad-text h5 {
      font-size: 35px;
      font-family: 'Rufina'; }
  .kl-section-card-fruit-salad .kl-fruit-salad-content .kl-detail-user .kl-link a {
    color: #233000;
    font-weight: 500; }

.kl-bloc-reservation,
.kl-bloc-calories,
.kl-calories-card {
  text-align: center; }

.kl-section-make-reservation {
  background-color: #ECEFE4;
  padding: 100px; }
  .kl-section-make-reservation .kl-bloc-reservation .kl-form-bloc-title h3 {
    font-size: 60px;
    color: #000000;
    font-family: 'Rufin'; }

.kl-section-calories-energy {
  padding: 100px; }

.kl-form-bloc-content,
.kl-form-bloc-title,
.kl-bloc-calories-title,
.kl-calories-card,
.kl-bloc-article-content {
  margin-bottom: 80px; }

.kl-form-bloc-title h3 h3,
.kl-bloc-calories-title h3 {
  font-size: 62px; }

.kl-form-reservation, .kl-form-reservation:focus {
  border: solid 1px;
  border-radius: 0px 0px;
  height: 165%;
  background-color: #ECEFE4;
  box-shadow: none; }

.kl-btn-book-now {
  border-radius: 1px;
  background-color: #233100;
  height: 60px;
  width: 190px;
  color: #FFFFFF;
  font-size: 20px; }

.kl-bloc-calories .kl-bloc-calories-paragr {
  font-size: 35px; }

.kl-calories-card .card, .kl-article-card .card {
  border: solid 0px; }

.kl-footer {
  background-color: #233100;
  color: #FFFFFF; }

.kl-second-footer-one span {
  float: left; }

.kl-second-footer-two a {
  float: right;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer; }

.kl-subscribe, .kl-subscribe:focus {
  border: solid 1px;
  border-radius: 0px;
  height: 165%;
  background-color: #233100;
  box-shadow: none;
  color: #FFFFFF; }

.kl-hr {
  border-bottom: dashed 1px; }

.kl-footer-contact h6, .kl-footer-subsribe h6, .kl-input-subscribe {
  margin-bottom: 50px; }

.kl-footer-contact h6, .kl-footer-subsribe h6 {
  font-size: 25px; }

.kl-footer-subsribe p {
  font-size: 10px; }

.kl-btn-subscribe {
  background-color: #5E6600;
  border: solid 0px;
  color: #FFFFFF;
  height: 55px;
  width: 154px;
  border-radius: 0px 0px; }

.kl-bloc-first-footer {
  padding-bottom: 50px;
  padding-top: 50px; }

.kl-bloc-first-footer-title h3 {
  font-size: 45px; }

.kl-footer-contact-one {
  margin-bottom: 35px;
  font-size: 14px; }

.kl-footer-contact-two {
  font-size: 14px; }

.kl-bloc-second-footer {
  padding-top: 50px;
  padding-bottom: 50px; }

.kl-section-menus {
  margin-bottom: 60px;
  padding-bottom: 40px; }
  .kl-section-menus .kl-bloc-starters .kl-title-menu {
    font-size: 60px;
    color: #000000;
    font-family: 'Rufina';
    padding-top: 50px;
    text-align: center; }
  .kl-section-menus .kl-bloc-starters p {
    font-size: 18px;
    color: #696969;
    font-weight: 400;
    padding-right: 40px;
    font-family: 'Lato';
    text-align: center; }
  .kl-section-menus .kl-menu-content .kl-img {
    padding-left: 30px;
    padding-right: 30px; }
    .kl-section-menus .kl-menu-content .kl-img img {
      width: 100%; }
  .kl-section-menus .kl-menu-content .kl-bloc-price {
    padding-left: 30px;
    padding-right: 30px; }
    .kl-section-menus .kl-menu-content .kl-bloc-price .kl-menu-price .kl-price {
      border-bottom: dashed 2px #000000;
      font-size: 30px;
      font-weight: bold;
      text-align: end;
      font-family: 'Inter'; }
    .kl-section-menus .kl-menu-content .kl-bloc-price .kl-menu-price .kl-text-menu h5 {
      font-size: 41px;
      padding-top: 15px;
      padding-right: 60px;
      font-family: 'Rufina';
      font-weight: 700;
      color: #000000; }
    .kl-section-menus .kl-menu-content .kl-bloc-price .kl-menu-price .kl-text-menu p {
      font-size: 18px;
      color: #696969;
      font-family: 'Lato'; }

.kl-section-contact {
  margin-top: 50px;
  margin-bottom: 50px; }
  .kl-section-contact .kl-contact-content {
    padding-top: 50px;
    padding-bottom: 50px; }
    .kl-section-contact .kl-contact-content .kl-img img {
      width: 100%;
      padding-left: 30px;
      padding-right: 30px; }
    .kl-section-contact .kl-contact-content .kl-bloc-text {
      padding-left: 30px;
      padding-right: 30px; }
      .kl-section-contact .kl-contact-content .kl-bloc-text .kl-text-contact p {
        color: #233000;
        font-family: 'Rufina';
        font-size: 25px;
        padding-left: 30px;
        padding-top: 38%; }
        .kl-section-contact .kl-contact-content .kl-bloc-text .kl-text-contact p a {
          color: #89b120;
          text-decoration: none; }
          .kl-section-contact .kl-contact-content .kl-bloc-text .kl-text-contact p a:hover {
            color: #89b120;
            text-decoration: none; }
      .kl-section-contact .kl-contact-content .kl-bloc-text .kl-text-contact button {
        margin-left: 30px;
        background: #ffffff;
        padding: 10px 30px;
        font-size: 22px;
        font-family: Rufina;
        margin-top: 20px; }

.kl-reservation-contact .kl-bloc-reservation .kl-form-bloc-content .kl-input {
  margin-bottom: 50px; }

#myModal .modal-content .modal-body button{
float: inherit;
}

#myModal .modal-dialog{
  height: auto;
  max-width: 1900px;
}

#myModal .modal-content .modal-body ul li{
  color: #ffffff;
  text-transform: uppercase;
  font-size: 60px;
  font-family: rufina;
}

#myModal .modal-content .modal-body ul li a{
  color: #ffffff;
  text-transform: uppercase;
  font-size: 60px;
  font-family: rufina;
}

#myModal .modal-content .modal-body ul li a:hover{
  color: #82b300;
  text-decoration: none;
}

#myModal .modal-content .modal-body ul li:hover{
  color: #82b300;
  text-decoration: none;
}

#myModal .modal-content .modal-body ul{
  padding-bottom: 140px;
  padding-top: 140px;
}

#myModal{
  padding-right: 0px !important;
}

#myModal .modal-content .modal-body{
  background: #213300;
  opacity: 0.8;
}

.kl-btn-book-now:hover{
  color: #233100;
  background-color: #ffffff;
  border:  solid 1px #233100;
}

/*@import "screen";*/

/*# sourceMappingURL=styles.css.map */
