<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {# {{ encore_entry_link_tags('app') }} #}
            {# <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}"> #}
            <link rel="stylesheet" href="{{ asset('fontawesome/css/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{asset('bower_components/bootstrap/dist/css/bootstrap.min.css')}}">
            <!-- Font Awesome -->
            <link rel="stylesheet" href="{{asset('bower_components/font-awesome/css/font-awesome.min.css')}}">
            <!-- Ionicons -->
            <link rel="stylesheet" href="{{asset('bower_components/Ionicons/css/ionicons.min.css')}}">
            <link rel="stylesheet" href="{{asset('bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css')}}">
            <link rel="stylesheet" href="{{asset('bower_components/timepicker/bootstrap-timepicker.min.css')}}">
            <!-- Theme style -->
            <link rel="stylesheet" href="{{asset('dist/css/AdminLTE.min.css')}}">
            <link rel="stylesheet" href="{{asset('dist/css/skins/_all-skins.min.css')}}">
        {% endblock %}

        {% block javascripts %}
            {# {{ encore_entry_script_tags('app') }} #}
            {# <script src="{{ asset('jquery/bootstrap.bundle.min.js') }}"></script>
            <script src="{{ asset('jquery/jquery-3.1.0.min.js') }}"></script>
            <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('fontawesome/all.js') }}"></script> #}
            <!-- jQuery 3 -->
            <script src="{{ asset('bower_components/jquery/dist/jquery.min.js')}}"></script>
            <!-- Bootstrap 3.3.7 -->
            <script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>
            <script src="{{ asset('bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js')}}"></script>
            <script src="{{ asset('bower_components/timepicker/bootstrap-timepicker.min.js')}}"></script>
            <!-- FastClick -->
            <script src="{{ asset('bower_components/fastclick/lib/fastclick.js')}}"></script>
            <!-- AdminLTE App -->
            <script src="{{ asset('dist/js/adminlte.min.js')}}"></script>
            <!-- AdminLTE for demo purposes -->
            <script src="{{ asset('dist/js/demo.js')}}"></script>
            <script src="{{ asset('dist/js/general.js')}}"></script>
            <script src="{{asset('frontoffice/js/script.js')}}"> </script>
        {% endblock %}
    </head>
    {% set current_path = app.request.get('_route') %}
    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">
            <header class="main-header">
            <a href="{{ path('app_default') }}" class="logo">
                <span class="logo-mini"><b>F</b>Z</span>
                <span class="logo-lg"><b>Food</b>Zero</span>
            </a>
            <nav class="navbar navbar-static-top">
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
            </nav>
            </header>
            <aside class="main-sidebar">
                <section class="sidebar">
                    <ul class="sidebar-menu" data-widget="tree">
                        <li class="header">MENU</li>
                        <li>
                            <a href="{{ path('app_customer_index') }}">
                                <i class="fa fa-circle-o text-red"></i> <span>Customer</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('app_food_index') }}">
                                <i class="fa fa-circle-o text-yellow"></i> <span>Food</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('app_reservation_index') }}">
                                <i class="fa fa-circle-o text-aqua"></i> <span>Reservation</span>
                            </a>
                        </li>
                    </ul>
                </section>
            </aside>
            <div class="content-wrapper">
                {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>
