.kl-section-contact{
   margin-top: 50px;
   margin-bottom: 50px;
   .kl-contact-content{
      padding-top: 50px;
      padding-bottom: 50px;
      .kl-img{
         img{
            width: 100%;
            padding-left: 30px;
            padding-right: 30px;
         }
      }
      .kl-bloc-text{
         padding-left: 30px;
         padding-right: 30px;
         .kl-text-contact{
            p{
               color: #233000;
               font-family: 'Rufina';
               font-size: 25px;
               padding-left: 30px;
               padding-top: 38%;
               a{
                  color: #89b120;
                  text-decoration: none;
                  &:hover{
                     color: #89b120;
                     text-decoration: none;
                  }
               }
            }
            button{
               margin-left: 30px;
               background: #ffffff;
               padding: 10px 30px;
               font-size: 22px;
               font-family: Rufina;
               margin-top: 20px;
            }
         }
      }
   }
}
.kl-reservation-contact{
   .kl-bloc-reservation{
      .kl-form-bloc-content{
         .kl-input{
            margin-bottom: 50px;
         }
      }
   }
}