.kl-footer{
    background-color: #233100;
    color: #FFFFFF;
}
.kl-second-footer-one{
    span{
        float: left;
    }
}
.kl-second-footer-two{
    a{
        float: right;
        padding-left: 10px;
        padding-right: 10px;
        cursor: pointer;
    }

} 
.kl-subscribe, .kl-subscribe:focus{
    border: solid 1px;
    border-radius: 0px;
    height: 165%;
    background-color: #233100;
    box-shadow: none;
    color: #FFFFFF;
}
.kl-hr{
    border-bottom: dashed 1px;
}
.kl-footer-contact h6, .kl-footer-subsribe h6, .kl-input-subscribe{
    margin-bottom: 50px;
}
.kl-footer-contact h6, .kl-footer-subsribe h6{
    font-size: 25px;
}
.kl-footer-subsribe {
    p{
        font-size: 10px;
    }
}
.kl-btn-subscribe{
    background-color: #5E6600;
    border: solid 0px;
    color: #FFFFFF;
    height: 55px;
    width: 154px;
    border-radius: 0px 0px;
}
.kl-bloc-first-footer{
    padding-bottom: 50px;
    padding-top: 50px;
}
.kl-bloc-first-footer-title {
    h3{
        font-size: 45px;
    }
}
.kl-footer-contact-one{
    margin-bottom: 35px;
    font-size: 14px;
}
.kl-footer-contact-two{
    font-size: 14px;
}
.kl-bloc-second-footer{
    padding-top: 50px; 
    padding-bottom: 50px;
}