.kl-head-banner{
   .navbar{
      background-color: #213300;
      color: #ffffff;
      .kl-header-logo{
         .kl-btn-menu-header{
            background: transparent;
            border: none;
         }
      }
      .kl-btn-num-header{
         .kl-btn-reservation-header{
            color: #ffffff;
            background: transparent;
            border: solid 1px #ffffff;
            padding: 15px 25px;
            margin-left: 20px;
            font-size: 20px;
         }
         .kl-number{  
            padding-top: 21px;            
         }
      }
   }
}
.kl-banner-home{
   background-color: #213300;
   padding-left: 25px;
   color: #ffffff;
   .kl-text-header-first-part{
      .kl-text-title{
         h2{
            font-size: 95px;
            line-height: 90px;
            font-family: 'Rufina';
         }
         p{
            padding-top: 30px;
            padding-right: 270px;
            font-size: 18px;
            font-family: 'Lato';
         }
      }
   }
   .kl-text-header-second-part{
      margin-top: 40px;
      padding-top: 80px;
      padding-bottom: 60px;
      h4{
         font-size: 40px;
         padding-right: 170px;
         margin-right: 150px;
         margin-top: 20px;
         font-family: 'Rufina';
      }
      p{
         font-size: 18px;
         font-family: 'Lato';
      }
      .kl-text-start{
         p{
            padding-right: 150px;
            padding-top: 15px;
            margin-right: 150px;
            font-family: 'Lato';
         }         
      }
   }
}