
.kl-section-our-menu{
   .kl-title-our-menu{
    margin-top: 60px;
    padding-top: 40px;
    h3{
       font-size: 60px;
       color: #000000;
       font-family: 'Rufina';
    }
    p{
       font-size: 18px;
       color: #696969;
       font-weight: 400;
       padding-right: 40px;
       font-family: 'Lato';
    }
   } 
   .kl-menu-prices{
      margin-top: 80px;
      padding-bottom: 20px;
      .kl-bloc-price{
         color: #000000;
         padding-bottom: 60px;
         padding-right: 30px;
         .kl-price{
            border-bottom: dashed 2px #000000;
            font-size: 30px;
            font-weight: bold;
            text-align: end;
            font-family: 'Inter';
         }
         .kl-text-menu{
            h5{
               font-size: 41px;
               padding-top: 15px;
               padding-right: 60px;
               font-family: 'Rufina';
               font-weight: 700;
            }
            p{
               font-size: 18px;
               color: #696969;
               font-family: 'Lato';
            }
         }
      }
   }
 }
.kl-section-excellent-coock{
   background-color: #ecefe4;
   .kl-cook-content{
      padding-top: 80px;
      .kl-cook-img{
         .kl-img{
            img{
               width: 100%;
               object-fit: contain;
            }
         }
      }
      .kl-text-excel-cook{
         padding-left: 30px;
         h3{
            font-size: 62px;
            line-height: 60px;
            color: #000000;
            padding-right: 60px;
            font-family: 'Rufina';
         }
         p{
            font-size: 18px;
            color: #696969;
            font-family: 'Lato';
         }
         .kl-img-leaf{
            img{
               width: 100%;
            }
         }
      }
   }
}
.kl-section-quality-vegetable-fresh{
   margin-top: 70px;
   padding-top: 60px;
   .kl-bloc-quality{
      text-align: center;
      padding-right: 30px;
      padding-left: 30px;
      .kl-img{
         .kl-svg{
            svg{
               background: #ecefe4;
               padding: 10px;
               border-radius: 50px;
            }
         }
      }
      h4{
         margin-top: 20px;
         margin-bottom: 15px;
         font-size: 28px;
      }
   }
}
.kl-banner-home{
   .kl-text-header-first-part{
      margin-top: 80px;
      padding-top: 110px;
      .kl-img{
       /*  width: 450px;*/
         padding-top: 30px;
         img{
            object-fit: contain;
            width: 100%;
         }
      }
      .kl-img-group{
         display: flex;
         position: relative;
         margin-top: -80px;
         margin-left: 40%;
         .kl-img-epice{
            width: 125px;
            margin-left: 12px;
            margin-right: 12px;
            img{
               object-fit: contain;
               width: 100%;
            }
         }
      }
   }
   .kl-text-header-second-part{
      .kl-text-start{
         .kl-img{
         /*   width: 650px; */
            img{
               object-fit: contain;
               width: 100%;
            }
         }
      }
      .kl-text-img-lorem{
         padding-left: 12.5%;
         .kl-img{
         /*   width: 320px; */
         margin-top: 50px;
            img{
               object-fit: contain;
               width: 100%;
            }
         }
      }
   }
}
.kl-section-card-fruit-salad{
   .kl-fruit-salad-content{
      .kl-img{
         padding-left: 10px;
         padding-right: 10px;
         img{
            width: 100%;
            position: relative;
         }
         .kl-bn-content{
            position: absolute;
            top: 0;
         }
         .kl-btn-fashion{
            top: 0;
            position: absolute;
            float: right;
            color: #ffffff;
            background: #213300;
            border: solid 0px;
            font-size: 15px;
            padding: 8px 26px;
         }
      }
      .kl-detail-user{
         padding: 20px 40px;
         .kl-identificaion{
            img{
               width: 85px;
               height: 85px;
               object-fit: contain;
            }
            .kl-span-comment{
               padding-top: 25px;
               font-size: 14px;
               span{
                  padding-left: 5px;
                  padding-right: 5px;
               }
            }
         }
         .kl-fruit-salad-text{
            border-bottom: dashed;
            margin-bottom: 15px;
            h5{
               font-size: 35px;
               font-family: 'Rufina';
            }
         }
         .kl-link{
            a{
               color: #233000;
               font-weight: 500;
            }
         }
      }
   }
}
.kl-bloc-reservation, 
.kl-bloc-calories, 
.kl-calories-card {
   text-align: center;
}
.kl-section-make-reservation {
   background-color: #ECEFE4;
   padding: 100px;
   .kl-bloc-reservation{
      .kl-form-bloc-title{
         h3{
            font-size: 60px;
            color: #000000;
            font-family: 'Rufin';
         }
      }
   }
}
.kl-section-calories-energy{
   padding: 100px;
}
.kl-form-bloc-content, 
.kl-form-bloc-title, 
.kl-bloc-calories-title, 
.kl-calories-card, 
.kl-bloc-article-content {
  margin-bottom: 80px;
}
.kl-form-bloc-title h3,
 .kl-bloc-calories-title{
   h3{
      font-size: 62px;
   }
 } 
.kl-form-reservation, .kl-form-reservation:focus{
   border: solid 1px;
   border-radius: 0px 0px;
   height: 165%;
   background-color: #ECEFE4;
   box-shadow: none;
}
.kl-btn-book-now{
   border-radius: 1px;
   background-color: #233100;
   height: 60px;
   width: 190px;
   color: #FFFFFF;
   font-size: 20px;
}
.kl-bloc-calories{
   .kl-bloc-calories-paragr {
      font-size: 35px; 
   }
}
.kl-calories-card .card, .kl-article-card .card {
   border: solid 0px;
}