.kl-section-menus{
   margin-bottom: 60px;
   padding-bottom: 40px;
   .kl-bloc-starters{
      .kl-title-menu{
         font-size: 60px;
         color: #000000;
         font-family: 'Rufina';
         padding-top: 50px;
         text-align: center;
      }
      p{
         font-size: 18px;
         color: #696969;
         font-weight: 400;
         padding-right: 40px;
         font-family: 'Lato';
         text-align: center;
      }
   }
   .kl-menu-content{
      .kl-img{
         padding-left: 30px;
         padding-right: 30px;
         img{
            width: 100%;
         }
      }
      .kl-bloc-price{
         padding-left: 30px;
         padding-right: 30px;
         .kl-menu-price{
            .kl-price{
               border-bottom: dashed 2px #000000;
               font-size: 30px;
               font-weight: bold;
               text-align: end;
               font-family: 'Inter';
            }
            .kl-text-menu{
               h5{
                  font-size: 41px;
                  padding-top: 15px;
                  padding-right: 60px;
                  font-family: 'Rufina';
                  font-weight: 700;
                  color: #000000;
               }
               p{
                  font-size: 18px;
                  color: #696969;
                  font-family: 'Lato';
               }
            }
         }
      }
   }
}
