.kl-head-banner .navbar {
  background-color: #213300;
  color: #ffffff; }
  .kl-head-banner .navbar .kl-header-logo .kl-btn-menu-header {
    background: transparent;
    border: none; }
  .kl-head-banner .navbar .kl-btn-num-header .kl-btn-reservation-header {
    color: #ffffff;
    background: transparent;
    border: solid 1px #ffffff;
    padding: 15px 25px;
    margin-left: 20px;
    font-size: 20px; }
  .kl-head-banner .navbar .kl-btn-num-header .kl-number {
    padding-top: 21px; }

.kl-banner-home {
  background-color: #213300;
  padding-left: 25px;
  color: #ffffff; }
  .kl-banner-home .kl-text-header-first-part .kl-text-title h2 {
    font-size: 95px;
    line-height: 90px;
    font-family: 'Rufina'; }
  .kl-banner-home .kl-text-header-first-part .kl-text-title p {
    padding-top: 30px;
    padding-right: 270px;
    font-size: 18px;
    font-family: 'Lato'; }
  .kl-banner-home .kl-text-header-second-part {
    margin-top: 40px;
    padding-top: 80px;
    padding-bottom: 60px; }
    .kl-banner-home .kl-text-header-second-part h4 {
      font-size: 40px;
      padding-right: 170px;
      margin-right: 150px;
      margin-top: 20px;
      font-family: 'Rufina'; }
    .kl-banner-home .kl-text-header-second-part p {
      font-size: 18px;
      font-family: 'Lato'; }
    .kl-banner-home .kl-text-header-second-part .kl-text-start p {
      padding-right: 150px;
      padding-top: 15px;
      margin-right: 150px;
      font-family: 'Lato'; }

.kl-section-our-menu .kl-title-our-menu {
  margin-top: 60px;
  padding-top: 40px; }
  .kl-section-our-menu .kl-title-our-menu h3 {
    font-size: 60px;
    color: #000000;
    font-family: 'Rufina'; }
  .kl-section-our-menu .kl-title-our-menu p {
    font-size: 18px;
    color: #696969;
    font-weight: 400;
    padding-right: 40px;
    font-family: 'Lato'; }
.kl-section-our-menu .kl-menu-prices {
  margin-top: 80px;
  padding-bottom: 20px; }
  .kl-section-our-menu .kl-menu-prices .kl-bloc-price {
    color: #000000;
    padding-bottom: 60px;
    padding-right: 30px; }
    .kl-section-our-menu .kl-menu-prices .kl-bloc-price .kl-price {
      border-bottom: dashed 2px #000000;
      font-size: 30px;
      font-weight: bold;
      text-align: end;
      font-family: 'Inter'; }
    .kl-section-our-menu .kl-menu-prices .kl-bloc-price .kl-text-menu h5 {
      font-size: 41px;
      padding-top: 15px;
      padding-right: 60px;
      font-family: 'Rufina';
      font-weight: 700; }
    .kl-section-our-menu .kl-menu-prices .kl-bloc-price .kl-text-menu p {
      font-size: 18px;
      color: #696969;
      font-family: 'Lato'; }

.kl-section-excellent-coock {
  background-color: #ecefe4; }
  .kl-section-excellent-coock .kl-cook-content {
    padding-top: 80px; }
    .kl-section-excellent-coock .kl-cook-content .kl-cook-img .kl-img img {
      width: 100%;
      object-fit: contain; }
    .kl-section-excellent-coock .kl-cook-content .kl-text-excel-cook {
      padding-left: 30px; }
      .kl-section-excellent-coock .kl-cook-content .kl-text-excel-cook h3 {
        font-size: 62px;
        line-height: 60px;
        color: #000000;
        padding-right: 60px;
        font-family: 'Rufina'; }
      .kl-section-excellent-coock .kl-cook-content .kl-text-excel-cook p {
        font-size: 18px;
        color: #696969;
        font-family: 'Lato'; }
      .kl-section-excellent-coock .kl-cook-content .kl-text-excel-cook .kl-img-leaf img {
        width: 100%; }

.kl-section-quality-vegetable-fresh {
  margin-top: 70px;
  padding-top: 60px; }
  .kl-section-quality-vegetable-fresh .kl-bloc-quality {
    text-align: center;
    padding-right: 30px;
    padding-left: 30px; }
    .kl-section-quality-vegetable-fresh .kl-bloc-quality .kl-img .kl-svg svg {
      background: #ecefe4;
      padding: 10px;
      border-radius: 40px; }
    .kl-section-quality-vegetable-fresh .kl-bloc-quality h4 {
      margin-top: 20px;
      margin-bottom: 15px;
      font-size: 28px; }

.kl-banner-home .kl-text-header-first-part {
  margin-top: 80px;
  padding-top: 110px; }
  .kl-banner-home .kl-text-header-first-part .kl-img {
    /*  width: 450px;*/
    padding-top: 30px; }
    .kl-banner-home .kl-text-header-first-part .kl-img img {
      object-fit: contain;
      width: 100%; }
  .kl-banner-home .kl-text-header-first-part .kl-img-group {
    display: flex;
    position: relative;
    margin-top: -80px;
    margin-left: 40%; }
    .kl-banner-home .kl-text-header-first-part .kl-img-group .kl-img-epice {
      width: 125px;
      margin-left: 12px;
      margin-right: 12px; }
      .kl-banner-home .kl-text-header-first-part .kl-img-group .kl-img-epice img {
        object-fit: contain;
        width: 100%; }
.kl-banner-home .kl-text-header-second-part .kl-text-start .kl-img {
  /*   width: 650px; */ }
  .kl-banner-home .kl-text-header-second-part .kl-text-start .kl-img img {
    object-fit: contain;
    width: 100%; }
.kl-banner-home .kl-text-header-second-part .kl-text-img-lorem {
  padding-left: 12.5%; }
  .kl-banner-home .kl-text-header-second-part .kl-text-img-lorem .kl-img {
    /*   width: 320px; */
    margin-top: 50px; }
    .kl-banner-home .kl-text-header-second-part .kl-text-img-lorem .kl-img img {
      object-fit: contain;
      width: 100%; }

/*@import "screen";*/

/*# sourceMappingURL=general.css.map */
