{{ form_start(form, {attr:{'enctype':'multipart/form-data'}}) }}
    {{ form_row(form.customer) }}
    {{ form_row(form.bookAt) }}
    {{ form_row(form.code) }}
    {{ form_row(form.numberPerson) }}
    <div class="col-md-6">
        {{ form_widget(form.isAccepted) }} {{ form_label(form.isAccepted) }}
    </div>
    <div class="box-footer">
        <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
