{% extends 'backoffice/base.html.twig' %}

{% block title %}Reservation list{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>
            Reservation list
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">List</h3>

                        <div class="box-tools">
                        </div>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tr>
                                <th>#</th>
                                <th>Customer</th>
                                <th>Date</th>
                                <th>Hour</th>
                                <th>IsAccepted</th>
                                <th>actions</th>
                            </tr>
                            {% for reservation in reservations %}
                                <tr>
                                    <td>{{ reservation.id }}</td>
                                    <td>{{ reservation.customer ? reservation.customer.name~' '~reservation.customer.firstname }}</td>
                                    <td>{{ reservation.bookAt|date('d/m/Y') }}</td>
                                    <td>{{ reservation.code }}</td>
                                    <td>{{ reservation.isAccepted 
                                        ? '<span class="label label-success">Accepted</span>' 
                                        : '<span class="label label-danger">Declined</span>' }}</td>
                                    <td>
                                        <a class="btn btn-info btn-flat" 
                                            href="{{ path('app_reservation_show', {'id': reservation.id}) }}">show</a>
                                        <a class="btn btn-success btn-flat" 
                                            href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">edit</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="5">no records found</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <a class="btn btn-primary" href="{{ path('app_reservation_new') }}">Create new</a>
    </section>

{% endblock %}
