{% extends 'backoffice/base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}

    <section class="content-header">
        <h1>Detail Reservation</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Details</h3>
                    </div>
                    <div class="box box-info">
                        <!-- form start -->
                        <form class="form-horizontal">
                            <div class="box-body">
                                <div class="form-group">
                                    <label class="col-sm-2">Customer</label>
                                    <div class="col-sm-10">
                                        {{ reservation.customer ? reservation.customer.name ~' '~ reservation.customer.firstname }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2">Date</label>
                                    <div class="col-sm-10">
                                        {{ reservation.bookAt|date('d/m/Y') }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2">Code</label>
                                    <div class="col-sm-10">
                                        {{ reservation.code }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2">Number person</label>
                                    <div class="col-sm-10">
                                        {{ reservation.numberPerson }}&nbsp;Person
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2">Status</label>
                                    <div class="col-sm-10">
                                        {{ reservation.isAccepted 
                                            ? '<span class="label label-success">Accepted</span>' 
                                            : '<span class="label label-danger">Declined</span>' }}
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <a class="btn btn-primary" href="{{ path('app_reservation_index') }}">back to list</a>
        <a class="btn btn-success" href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">edit</a>
        <hr>

        {{ include('backoffice/reservation/_delete_form.html.twig') }}
    </section>
{% endblock %}
