{% extends 'backoffice/base.html.twig' %}

{% block title %}Food index{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>
            Food list
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">List</h3>

                        <div class="box-tools">
                        </div>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tr>
                                <th>#</th>
                                <th>Type</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Price</th>
                                <th>actions</th>
                            </tr>
                            {% for food in food %}
                                <tr>
                                    <td>{{ food.id }}</td>
                                    <td>{{ food.type ? food.type.name }}</td>
                                    <td>{{ food.title }}</td>
                                    <td>{{ food.description }}</td>
                                    <td>${{ food.price }}</td>
                                    <td>
                                        <a class="btn btn-info" href="{{ path('app_food_show', {'id': food.id}) }}">show</a>
                                        <a class="btn btn-success" href="{{ path('app_food_edit', {'id': food.id}) }}">edit</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="5">no records found</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <a class="btn btn-primary" href="{{ path('app_food_new') }}">Create new</a>
    </section>
{% endblock %}
