{% extends 'backoffice/base.html.twig' %}

{% block title %}Food{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>Detail Reservation</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Details</h3>
                    </div>
                    <div class="box box-info">
                        <!-- form start -->
                        <form class="form-horizontal">
                            <div class="box-body">
                                <div class="form-group">
                                    <label class="col-sm-2">Type</label>
                                    <div class="col-sm-10">
                                        {{ food.type ? food.type.name }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2">Title</label>
                                    <div class="col-sm-10">
                                        {{ food.title }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2">Description</label>
                                    <div class="col-sm-10">
                                        {{ food.description }}
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <a class="btn btn-primary" href="{{ path('app_food_index') }}">back to list</a>
        <a class="btn btn-success" href="{{ path('app_food_edit', {'id': food.id}) }}">edit</a>
        <hr>

        {{ include('backoffice/food/_delete_form.html.twig') }}
    </section>
{% endblock %}
