{% extends 'frontoffice/base.html.twig' %}
    
{% block title %} Symfony Food Project {% endblock %}
    
{% block body %}
   <div class="kl-banner-home kl-baner-contact" style="background-image: url({{asset('frontoffice/img/bg-contact.png')}}); background-size: cover; background-repeat: no-repeat; min-height: 500px;">
        <div class="container">
            <div class="kl-text-header-first-part row">
                <div class="col-lg-7">
                    <div class="kl-text-title ">
                        <h2>Get in Touch</h2>
                        <p>
                           The freshest ingredients for you every day
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
   <div class="kl-section-contact">
      <div class="container">
         <div class="kl-contact-content">
            <div class="row">
               <div class="col-lg-6 kl-img">
                  <img src="{{asset('frontoffice/img/img-contact-1.png')}}" alt="">
               </div>
               <div class="col-lg-6 kl-bloc-text">
               <div class="kl-text-contact">
                  <p>
                  We can be contacted via <br>
                  email <a href="#">info@foodzero.com</a> <br> 
                  or telephone on +86 852 346 000
                  </p>
               </div>
               </div>
            </div>
         </div>
         <div class="kl-contact-content">
            <div class="row">
               <div class="col-lg-6 kl-bloc-text">
                  <div class="kl-text-contact">
                     <p>
                     We are located in 1959 Sepuldeva Blvd. Culver <br>
                     City, CA, 90230
                     </p>
                     <button>View in maps</button>
                  </div>
               </div>
               <div class="col-lg-6 kl-img">
                  <img src="{{asset('frontoffice/img/img-contact-2.png')}}" alt="">
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="kl-section-make-reservation kl-reservation-contact">
      <div class="kl-bloc-reservation container">
         <div class="kl-form-bloc-title">
            <h3>Make a Reservation</h3>
            <span>Get in touch with restaurant</span>
         </div>
         <div class="kl-form-bloc-content">
            <div class="row">
               <div class="col-lg-6 kl-input">
                  <input type="text" class="form-control kl-form-reservation" 
                     name="first_name" placeholder="First Name" id="id-first-name" required>
               </div>
               <div class="col-lg-6 kl-input">
                  <input type="text" class="form-control kl-form-reservation" 
                     name="last_name" placeholder="Last Name" id="id-name" required>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-12 kl-input">
                  <input type="email" class="form-control kl-form-reservation" 
                     name="email" placeholder="Email" id="id-email" required
                     pattern="[^@]+@[^@]+\.[a-zA-Z]{2,}">
               </div>
            </div>
            <div class="row">
               <div class="col-lg-12 kl-input">
                  <input type="text" class="form-control kl-form-reservation" 
                     name="phone" placeholder="Phone" id="id-phone" required
                     pattern="^[0-9,+,(), ,.,-]{10,17}(,[0-9]+){0,16}$">
               </div>
            </div>
            <div class="row">
               <div class="col-lg-6 kl-input">
                  <input type="text" class="form-control kl-form-reservation kl-date-picker" 
                     name="date_book" placeholder="Enter date" id="id-book-now" required>
               </div>
               <div class="col-lg-6 kl-input">
                  <input type="text" class="form-control kl-form-reservation timepicker" 
                     name="book_time" id="id-book-time" required>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-12 kl-input">
                  <select class="form-control kl-form-reservation select2" id="id-number-person" required>
                     <option value="" disabled selected>Choose number person</option>
                     <option value="1">1 Person</option>
                     <option value="2">2 Person</option>
                     <option value="3">3 Person</option>
                     <option value="4">4 Person</option>
                     <option value="5">5 Person</option>
                     <option value="6">6 Person</option>
                     <option value="7">7 Person</option>
                     <option value="8">8 Person</option>
                     <option value="9">9 Person</option>
                     <option value="10">10 Person</option>
                  </select>
               </div>
            </div>
         </div>
         <button class="btn kl-btn-book-now kl-submit-book-now">Book Now</button>
      </div>
   </div>
{% endblock %}