{% extends 'frontoffice/base.html.twig' %}
    
{% block title %} Symfony Food Project {% endblock %}
    
{% block body %}
    

    <div class="kl-banner-home" style="background-color: #213300;">
        <div class="container">
            <div class="kl-text-header-first-part row">
                <div class="col-lg-7">
                    <div class="kl-text-title ">
                        <h2>Healthy Eating is important part of lifestyle</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus quo in iusto
                        </p>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="kl-img">
                        <img src="{{ asset('frontoffice/img/img-healthy.png')}}" alt="">
                    </div>
                </div>
                <div class="kl-img-group">
                    <div class="kl-img-epice">
                        <img src="{{ asset('frontoffice/img/epice 1.png')}}" alt="">
                    </div>
                    <div class="kl-img-epice">
                        <img src="{{ asset('frontoffice/img/epice 2.png')}}" alt="">
                    </div>
                    <div class="kl-img-epice">
                        <img src="{{ asset('frontoffice/img/epice 3.png')}}" alt="">
                    </div>
                </div>
            </div>
            <div class="kl-text-header-second-part row">
                <div class="col-lg-7 kl-text-start">
                    <div class="kl-img">
                        <img src="{{ asset('frontoffice/img/img-start.png')}}" alt="">
                    </div>
                    <div>
                        <h4>Start to plan your diet today</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
                        </p>
                    </div>
                </div>
                <div class="col-lg-5 kl-text-img-lorem">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus quo 
                    </p>
                    <div class="kl-img">
                        <img src="{{ asset('frontoffice/img/img-lorem.png')}}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="kl-section-our-menu">
    <div class="container">
        <div class="kl-title-our-menu">
            <div class="col-lg-5">
                <h3>Our Menu</h3>
                <p>This is a section of your menu. Give your section a brief description</p>
            </div>
            <div class="col-lg-7">
            </div>
        </div>
        <div class="kl-menu-prices">
            <div class="row kl-food-result">
                {# result food api #}
            </div>
        </div>
    </div>
</div>
<div class="kl-section-excellent-coock">
    <div class="container">
        <div class="row kl-cook-content">
            <div class="col-lg-7 kl-cook-img">
                <div class="kl-img">
                    <img src="{{asset('frontoffice/img/img-excellent.png')}}" alt="">
                </div>
            </div>
            <div class="col-lg-5 kl-text-excel-cook">
                <h3>Excellent cook</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure facilis, 
                    dolores dolorum quia modi laborum officia quis similique magni deleniti 
                </p>
                <div class="kl-img-leaf">
                    <img src="{{asset('frontoffice/img/Leaf-bas.png')}}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="kl-section-quality-vegetable-fresh mb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 kl-bloc-quality mb-4">
                <div class="kl-img">
                    <div class="kl-svg">
                        <svg width="100" height="100" viewBox="0 0 184 184" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M60.375 31.625L63.6122 39.5312C65.6305 44.4475 68.3732 56.7353 67.7407 62.5312C59.9035 67.3612 55.0965 72.0762 51.3878 76.0093C46.8568 72.3465 37.8925 66.125 23 66.125H17.25V71.875C17.25 82.8805 21.2232 91.8218 22.6435 94.875C21.206 97.9053 17.25 106.53 17.25 117.875V123.625H23C37.7775 123.625 46.851 117.381 51.3935 113.741C58.1957 120.75 67.896 128.139 80.1435 133.688C79.603 137.258 79.1775 142.243 80.6782 148.062L81.7592 152.375H86.25C93.3455 152.375 99.4577 148.85 104.397 145.728C108.439 143.163 110.394 141.369 111.406 140.513C134.274 139.708 148.873 127.374 156.688 115.178C164.772 102.58 166.75 90.022 166.75 90.022L166.928 88.5845L166.393 87.147C166.393 87.147 153.226 50.9853 117.519 49.2315C113.723 44.6315 108.416 40.8135 100.987 37.7315C92.2012 34.0975 81.1497 31.625 69 31.625H60.375ZM77.0845 43.8438C84.341 44.6488 91.126 46.115 96.4908 48.3345C103.839 51.3705 108.957 55.7233 110.147 57.6783L111.769 60.375H115C143.727 60.375 154.06 87.5725 154.893 89.8438C154.491 91.954 152.824 99.9753 146.987 109.072C140.312 119.468 129.507 129.375 109.25 129.375H107.094L105.478 130.812C105.478 130.812 102.442 133.4 98.2905 136.022C96.1055 137.396 94.2483 137.644 92 138.54C92.23 135.913 92 132.072 92 132.072L93.2592 127.04L88.5845 125.419C74.3475 119.985 62.238 109.744 56.0625 102.603L52.1065 97.9283L47.794 102.241C47.794 102.241 40.135 107.611 30.1875 110.147C31.671 103.408 33.9595 97.3935 33.9595 97.3935L35.2188 94.875L33.9595 92.3565C33.9595 92.3565 31.4697 85.7555 30.0092 78.7003C40.6065 81.0405 47.794 87.5093 47.794 87.5093L52.1065 91.8218L56.0625 87.147C61.2088 81.3338 75.0662 66.8438 95.4155 64.147L93.794 52.8253C88.2913 53.5498 83.49 55.1425 78.8843 56.9652C78.591 52.1352 78.3438 47.978 77.0845 43.8438ZM129.375 83.375C127.088 83.375 124.894 84.2837 123.276 85.9012C121.659 87.5187 120.75 89.7125 120.75 92C120.75 94.2875 121.659 96.4813 123.276 98.0988C124.894 99.7163 127.088 100.625 129.375 100.625C131.662 100.625 133.856 99.7163 135.474 98.0988C137.091 96.4813 138 94.2875 138 92C138 89.7125 137.091 87.5187 135.474 85.9012C133.856 84.2837 131.662 83.375 129.375 83.375Z" fill="black"/>
                        </svg>
                    </div>
                </div>
                <h4>Premium Quality</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, aliquid 
                </p>
            </div>
            <div class="col-lg-4 kl-bloc-quality mb-4">
                <div class="kl-img">
                    <div class="kl-svg">
                        <svg width="100" height="100" viewBox="0 0 184 184" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M131.531 18.147L125.063 27.669C125.063 27.669 128.587 30.4117 130.272 34.3217C131.733 37.7545 132.791 41.7795 127.219 48.5127L122.188 53.5497C105.254 39.1287 88.0441 38.4502 88.0441 38.4502H84.8126L83.0129 41.3252C83.0129 41.3252 68.3504 66.2572 54.2629 92C47.2191 104.868 40.2501 117.967 35.4086 128.3C32.9764 133.463 31.0674 137.96 29.8311 141.594C29.2274 143.411 28.7961 144.94 28.5776 146.625C28.3476 148.31 27.7209 150.621 30.5499 153.456C33.3846 156.285 35.6961 155.652 37.3809 155.428C39.0656 155.204 40.5951 154.778 42.4121 154.175C46.0519 152.938 50.5426 151.029 55.7119 148.597C66.0274 143.75 79.1259 136.792 92.0001 129.743C117.72 115.632 142.675 100.993 142.675 100.993L145.55 99.1932V95.7777C145.55 95.7777 144.785 78.775 130.456 61.8182L132.428 59.662C132.923 59.1675 133.371 58.8282 133.866 58.4027L135.303 57.1435C142.088 51.934 148.511 52.141 154.175 53.5555C158.104 54.5482 161.818 56.2514 165.134 58.581L172.322 49.5995C172.322 49.5995 165.939 44.6832 156.866 42.412C154.859 41.9403 152.817 41.6402 150.759 41.515L162.438 29.831L154.169 21.5682L142.134 33.6087C141.844 32.2524 141.422 30.9275 140.875 29.6527C137.638 22.1087 131.531 18.1527 131.531 18.1527V18.147ZM90.9191 50.669C94.6969 51.0312 105.501 52.601 118.416 65.5845C131.353 78.614 132.946 89.332 133.325 93.0752C132.382 93.6387 127.466 96.6057 123.625 98.8252C121.588 94.3077 119.056 90.0304 116.075 86.0717L106.916 93.081C110.958 98.4687 112.62 102.177 113.563 104.581C104.557 109.683 95.5122 114.714 86.4284 119.675C85.8706 119.962 85.3761 120.278 84.8126 120.572C83.7546 117.426 82.0296 113.631 78.8844 109.25L69.5406 115.897C72.3696 119.853 73.7611 123.107 74.3936 125.241C74.5029 125.603 74.5029 125.689 74.5661 125.959C65.9699 130.565 57.6611 134.987 50.8531 138.178C47.3054 139.846 44.7869 140.766 42.2281 141.772C43.2401 139.213 44.1601 136.695 45.8219 133.147C50.4679 123.245 57.3449 110.331 64.3254 97.5717C67.6949 91.4192 70.2594 86.8135 73.3126 81.397C75.1526 83.0127 77.5331 85.192 80.1436 88.5845L89.1251 81.5752C86.2088 77.7045 82.8295 74.2055 79.0626 71.1562C85.0829 60.5992 89.8899 52.4457 90.9249 50.669H90.9191Z" fill="black"/>
                        </svg>
                    </div>
                </div>
                <h4>Seasonal Vegetables</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, aliquid 
                </p>
            </div>
            <div class="col-lg-4 kl-bloc-quality mb-4">
                <div class="kl-img">
                    <div class="kl-svg">
                        <svg width="100" height="100" viewBox="0 0 184 184" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M69 23C54.1535 23 40.9458 31.2685 31.8033 43.8438C22.6608 56.4247 17.25 73.3988 17.25 92C17.25 110.595 22.6608 127.581 31.8033 140.156C40.9458 152.737 54.1535 161 69 161C116.322 161 141.548 133.935 147.706 105.478C152.03 102.35 155.25 97.727 155.25 92C155.25 86.273 152.036 81.65 147.7 78.522C141.22 49.3465 111.05 23 69 23ZM69 34.5C79.557 34.5 89.355 40.342 96.853 50.6747C104.351 60.996 109.25 75.67 109.25 92C109.25 108.33 104.351 122.992 96.853 133.331C89.3492 143.652 79.557 149.5 69 149.5C58.443 149.5 48.645 143.658 41.147 133.325C33.649 123.004 28.75 108.33 28.75 92C28.75 75.67 33.649 61.0075 41.147 50.669C48.6508 40.342 58.443 34.5 69 34.5ZM105.656 43.3033C123.136 52.5608 134.36 67.7868 137.103 82.6562L137.638 85.5312L140.34 86.7905C142.335 87.7105 143.75 89.6425 143.75 92C143.75 94.3575 142.336 96.2895 140.335 97.2095L137.643 98.4688L137.103 101.344C134.044 117.99 124.005 134.314 103.857 143.031C104.644 142.088 105.455 141.168 106.197 140.156C115.339 127.575 120.75 110.601 120.75 92C120.75 73.4045 115.339 56.419 106.197 43.8438C106.036 43.6425 105.812 43.5045 105.656 43.3033ZM69 46C64.8888 46 61.0247 47.4835 57.5 49.956L69.1783 77.441L81.0405 50.1285C77.395 47.4663 73.2665 46 69 46ZM48.875 59.1158C44.3612 66.1883 41.262 75.6758 40.4283 86.25H60.375L48.875 59.1158ZM89.4872 59.6562L77.7975 86.25H97.566C96.761 75.9172 93.8343 66.6885 89.4758 59.6562H89.4872ZM40.4225 97.75C41.2275 108.083 44.1542 117.311 48.507 124.344L60.2025 97.75H40.4225ZM77.6192 97.75L89.1193 124.884C93.633 117.812 96.7323 108.324 97.566 97.75H77.6192ZM68.816 106.553L56.9537 133.866C60.5935 136.54 64.7277 138 68.9942 138C73.1055 138 76.9695 136.517 80.4942 134.044L68.816 106.553Z" fill="black"/>
                        </svg>
                    </div>
                </div>
                <h4>Fresh Fruit</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, aliquid 
                </p>
            </div>
        </div>
    </div>
</div>
<div class="kl-section-card-fruit-salad">
    <div class="container">
        <div class="row kl-fruit-salad-content">
            <div class="col-lg-6">
                <div class="kl-img">
                    <img src="{{asset('frontoffice/img/img-fruit-vegetable.png')}}" alt="">
                    <div class="kl-bn-content">
                        <button class="kl-btn-fashion">Fashion</button>
                    </div>
                </div>
                <div class="kl-detail-user">
                    <div class="kl-identificaion d-flex">
                        <img src="{{asset('frontoffice/img/Avatar-julie.png')}}" alt="">
                        <div class="kl-span-comment">
                            <span>Juile Christie</span> - 
                            <span>Octobre 17, 021</span> -
                            <span>2 coments</span>
                        </div>
                    </div>
                    <div class="kl-fruit-salad-text">
                        <h5>Fruit and vegetables and protection against diseas</h5>
                    </div>
                    <span class="kl-text-description"> Lorem ipsum dolor sit amet consectetur adipisicing </span>
                    <div class="mt-3 kl-link">
                        <a href="">Read More 
                            <svg width="30" height="12" viewBox="0 0 48 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M34.0517 0.981934L31.3237 3.77L39.6221 12.0625H0.75V15.9375H39.6221L31.3257 24.2319L34.0517 27.0181L47.0659 14L34.0517 0.981934Z" fill="#233000"/>
                                </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="kl-img">
                    <img src="{{asset('frontoffice/img/img-salad.png')}}" alt="">
                    <div class="kl-bn-content">
                        <button class="kl-btn-fashion">Fashion</button>
                    </div>
                </div>
                <div class="kl-detail-user">
                    <div class="kl-identificaion d-flex">
                        <img src="{{asset('frontoffice/img/Avatar-Diane.png')}}" alt="">
                        <div class="kl-span-comment">
                            <span>Juile Christie</span> - 
                            <span>Octobre 17, 021</span> -
                            <span>2 coments</span>
                        </div>
                    </div>
                    <div class="kl-fruit-salad-text">
                        <h5>Asparagus Sprig Salad with Rocke, Goat's cheese</h5>
                    </div>
                    <span class="kl-text-description"> Lorem ipsum dolor sit amet consectetur adipisicing </span>
                    <div class="mt-3 kl-link">
                        <a href="">Read More 
                            <svg width="30" height="12" viewBox="0 0 48 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M34.0517 0.981934L31.3237 3.77L39.6221 12.0625H0.75V15.9375H39.6221L31.3257 24.2319L34.0517 27.0181L47.0659 14L34.0517 0.981934Z" fill="#233000"/>
                                </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="kl-section-make-reservation">
    <div class="kl-bloc-reservation container">
        <div class="kl-form-bloc-title">
            <h3>Make a Reservation</h3>
            <span>Get in touch with restaurant</span>
        </div>
        <div class="row kl-form-bloc-content">
            <div class="col-lg-4">
                <input type="text" class="form-control kl-form-reservation kl-date-picker" 
                     name="date_book" placeholder="Enter date" id="id-book-now" required>
            </div>
            <div class="col-lg-4">
                <input type="text" class="form-control kl-form-reservation timepicker" 
                     name="book_time" id="id-book-time" required>
            </div>
            <div class="col-lg-4">
                <select class="form-control kl-form-reservation select2" id="id-number-person" required>
                    <option value="" disabled selected>Choose number person</option>
                    <option value="1">1 Person</option>
                    <option value="2">2 Person</option>
                    <option value="3">3 Person</option>
                    <option value="4">4 Person</option>
                    <option value="5">5 Person</option>
                    <option value="6">6 Person</option>
                    <option value="7">7 Person</option>
                    <option value="8">8 Person</option>
                    <option value="9">9 Person</option>
                    <option value="10">10 Person</option>
                </select>
            </div>
        </div>
        <button class="btn kl-btn-book-now" data-toggle="modal" data-target="#id-modal-book-now">Book Now</button>
    </div>
</div>
<div class="kl-section-calories-energy">
    <div class="kl-bloc-calories container">
        <div class="kl-bloc-calories-title">
            <h3>Calories Energy <br> Balance</h3>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
        </div>
        <div class="row kl-calories-card">
            <div class="card col-lg-4">
                <div class="card-body">
                    <figure>
                        <a href="#"><img src="{{asset('frontoffice/img/MenuCategory1.png')}}" alt="" class="img-fluid" /></a>
                    </figure>
                </div>
            </div>
            <div class="card col-lg-4">
                <div class="card-body">
                    <figure>
                        <a href="#"><img src="{{asset('frontoffice/img/MenuCategory2.png')}}" alt="" class="img-fluid" /></a>
                    </figure>
                </div>
            </div>
            <div class="card col-lg-4">
                <div class="card-body">
                    <figure>
                        <a href="#"><img src="{{asset('frontoffice/img/MenuCategory3.png')}}" alt="" class="img-fluid" /></a>
                    </figure>
                </div>
            </div>
        </div>
        <p class="kl-bloc-calories-paragr">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus accusantium tempora asperiores consequatur unde repudiandae.</p>
    </div>
</div>

    
<div id="id-modal-book-now" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Forms Customer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>                
            </div>
            <div class="modal-body">
                <div class="kl-section-make-reservation kl-reservation-contact">
                  <div class="kl-bloc-reservation">
                     <div class="kl-form-bloc-content">
                        <div class="row">
                           <div class="col-lg-12 kl-input" style="margin-bottom: 40px;">
                              <input type="text" class="form-control kl-form-reservation" 
                                 name="first_name" placeholder="First Name" id="id-first-name" required>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-lg-12 kl-input" style="margin-bottom: 40px;">
                              <input type="text" class="form-control kl-form-reservation" 
                                 name="last_name" placeholder="Last Name" id="id-name" required>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-lg-12 kl-input" style="margin-bottom: 40px;">
                              <input type="email" class="form-control kl-form-reservation" 
                                 name="email" placeholder="Email" id="id-email" required
                                 pattern="[^@]+@[^@]+\.[a-zA-Z]{2,}">
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-lg-12 kl-input">
                              <input type="text" class="form-control kl-form-reservation" 
                                 name="phone" placeholder="Phone" id="id-phone" required
                                 pattern="^[0-9,+,(), ,.,-]{10,17}(,[0-9]+){0,16}$">
                           </div>
                        </div>
                     </div>
                     
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary kl-btn-valid-reservation">Valid</button>
            </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}