{% extends 'frontoffice/base.html.twig' %}
    
{% block title %} Symfony Food Project {% endblock %}
    
{% block body %}

   <div class="kl-banner-home kl-baner-contact" style="background-image: url({{asset('frontoffice/img/bg-menu.png')}}); background-size: cover; background-repeat: no-repeat; min-height: 500px;">
        <div class="container">
            <div class="kl-text-header-first-part row">
                <div class="col-lg-7">
                    <div class="kl-text-title ">
                        <h2> View Our <br>
                            New Menu
                        </h2>
                        <p>
                           The freshest ingredients for you every day
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="kl-section-menus">
        <div class="kl-bloc-starters">
            <div class="container">
                <div class="mb-5">
                    <h3 class="kl-title-menu mt-4">Starters</h3>
                    <p>This is a section of your menu. Give your section a brief description</p>
                </div>
                <div class="kl-menu-content">
                    <div class="row mt-5">
                        <div class="col-lg-6 kl-img">
                            <img src="{{asset('frontoffice/img/img-startes.png')}}" alt="">
                        </div>
                        <div class="col-lg-6 kl-bloc-price kl-food-starters">
                            {# {% for food in foods %}
                                {% if food and food.type.id == 1 %}
                                    <div class="kl-menu-price mb-3 mt-3">
                                        <div class="kl-price">
                                            <span>${{food.price}}</span>
                                        </div>
                                        <div class="kl-text-menu">
                                            <h5>{{food.title}}</h5>
                                            <p>
                                                {{food.description}}
                                            </p>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %} #}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="kl-bloc-starters kl-bloc-mains">
            <div class="container">
                <div class="mb-5">
                    <h3 class="kl-title-menu mt-4">Mains</h3>
                    <p>This is a section of your menu. Give your section a brief description</p>
                </div>
                <div class="kl-menu-content">
                    <div class="row mt-5">
                        <div class="col-lg-6 kl-bloc-price kl-food-mains">
                            {# {% for food in foods %}
                                {% if food and food.type.id == 2 %}
                                    <div class="kl-menu-price mb-3 mt-3">
                                        <div class="kl-price">
                                            <span>${{food.price}}</span>
                                        </div>
                                        <div class="kl-text-menu">
                                            <h5>{{food.title}}</h5>
                                            <p>
                                                {{food.description}}
                                            </p>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %} #}
                        </div>
                        <div class="col-lg-6 kl-img">
                            <img src="{{asset('frontoffice/img/img-main.png')}}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="kl-bloc-starters kl-bloc-pastries">
            <div class="container">
                <div class="mb-5">
                    <h3 class="kl-title-menu mt-4">Pastries & Drinks</h3>
                    <p>This is a section of your menu. Give your section a brief description</p>
                </div>
                <div class="kl-menu-content">
                    <div class="row mt-5">
                        <div class="col-lg-6 kl-img">
                            <img src="{{asset('frontoffice/img/img-pastrie.png')}}" alt="">
                        </div>
                        <div class="col-lg-6 kl-bloc-price kl-food-pastries">
                            {# {% for food in foods %}
                                {% if food and food.type.id == 3 %}
                                    <div class="kl-menu-price mb-3 mt-3">
                                        <div class="kl-price">
                                            <span>${{food.price}}</span>
                                        </div>
                                        <div class="kl-text-menu">
                                            <h5>{{food.title}}</h5>
                                            <p>
                                                {{food.description}}
                                            </p>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %} #}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}